.suggestions-box {
    position: absolute;
    background: white;
    border: 1px solid #eee;
    border-radius: 0 0 10px 10px;
    width: calc(100% - 100px); /* Anpassen an Button-Breite */
    max-width: 500px;
    z-index: 1000;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}
.suggestions-box div {
    padding: 12px;
    cursor: pointer;
    text-align: left;
    border-bottom: 1px solid #f9f9f9;
}
.suggestions-box div:hover {
    background: #f0f7ff;
    color: #1976d2;
}
